
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


#myCanvas {
    width: fit-content;
    height: fit-content;
    touch-action: none;
    overflow: hidden;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    position: absolute;
    max-width: 1920px;
    /*height: 1080px;*/
    width: 100vw;
    max-height: 100vh;
    background-color: transparent;
}
#HUD {
    position: absolute;
    top: 0;
    background-color: transparent;
    max-width: 1920px;
    max-height: 1080px;
    width: 100vw;
    height: fit-content;
}
