
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


#myCanvas {
    width: fit-content;
    height: fit-content;
    touch-action: none;
    overflow: hidden;
}

.ui {
    position: absolute;
    max-width: 1900px;
    max-height: 1080px;
    width: 100vw;
    height: 55vw;
    background-color: transparent;
}
#HUD {
    display: flex;
    margin-top: calc(4rem);
    background-color: transparent;
    max-width: 1900px;
    width: 100vw;
}
