@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


#myCanvas {
    width: fit-content;
    height: fit-content;
    touch-action: none;
    overflow: hidden;
    background-color: black;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    position: absolute;
    max-width: 1920px;
    /*height: 1080px;*/
    width: 100vw;
    max-height: 100vh;
    background-color: transparent;
}


.ui-container {
    position: absolute;
    background-color: transparent;
    max-width: 1920px;
    max-height: 1080px;
    width: 100vw;
    height: fit-content;
    z-index: 100;
    opacity: 0;
}

#menu-modal, #selection-modal, #settings-modal {
    position: absolute;
    background-color: transparent;
    width: 61rem;
    height: 51rem;
    z-index: 100;
    background-image: url("/assets/ui/menu_modal.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    display: none;
    flex-direction: column;
    justify-content: center;
    opacity: 100%;
}

#menu-modal div {
    color: white;
    background-color: transparent;
    text-align: center;
    margin: 0 2.75rem;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

#menu-modal div:hover {
    background-color: rgb(254, 31, 136);
    cursor: pointer;
}

#selection-modal {
    align-items: center;
    opacity: 0;
}

#selection-modal .title {
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#settings-modal {
    align-items: center;
    justify-content: space-between;
}
#settings-modal .title {
    color: white;
    background-color: transparent;
    text-align: center;
    margin: 4rem 2.75rem 0;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.settings-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
    width: 90%;
    background-color: transparent;
}

.settings-content:hover {
    background-color: rgb(254, 31, 136);
    cursor: pointer;
}

.settings-container div {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: transparent;
}


.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 35rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: transparent;
}

.image-container img {
    aspect-ratio: 92/140;
    width: 50rem;
}

#arrow-left {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    width: 20rem;
    animation: arrowMoveLeft 0.5s steps(2) infinite;
    cursor: pointer;
    background-color: transparent;
}

#arrow-right {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    width: 20rem;
    animation: arrowMoveRight 0.5s steps(2) infinite;
    cursor: pointer;
    background-color: transparent;
}


@keyframes arrowMoveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes arrowMoveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

#selection-modal button {
    width: 91%;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
}

#selection-modal button:nth-child(3) {
    margin-top: 2rem;
}

#selection-modal button:hover {
    background-color: rgb(254, 31, 136);
    cursor: pointer;
}

#opening-screen {
    position: absolute;
    image-rendering: high-quality;
    background-color: transparent;
    max-width: 1920px;
    max-height: 1080px;
    /*object-fit: cover;*/
    width: 100vw;
    height: fit-content;
    opacity: 0;
}

#HUD {
    position: absolute;
    top: 0;
    background-color: transparent;
    max-width: 1920px;
    max-height: 1080px;
    width: 100vw;
    height: fit-content;
}
