@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "variables";

@keyframes arrowMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes arrowMoveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonBorderBottom {
  0% {
    border-bottom: 0.2rem solid $pink-color;
    border-bottom-width: 0;
  }
  100% {
    border-bottom: 0.2rem solid $pink-color;
    border-bottom-width: 100%;
  }
}
