@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "animations";
@import "variables";
@import "mixins";
@import "./game/navbar";
@import "./game/loadingModal";
@import "./game/menuModal";
@import "./game/selectionModal";
@import "./game/settingsModal";
@import "./game/pauseModal";
@import "../game/modal";
@import "./front/modal";

$pink-color: rgb(254, 31, 136);


body {
  height: calc(100vh + 4rem);
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  background-color: black;
  user-select: none;
}

.container {
  @include flex-rules(row, center, center);
  @include size(100vw, calc(100vh + 4rem));
  //@include max-size(1920px, 1080vh);
  overflow: hidden;
  position: relative;


  #game {
    @include absolute(47.5%, 50%);
    @include size(100vw, auto);
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    touch-action: none;
    overflow: hidden;
    background-color: black;
  }

  #HUD {
    position: absolute;
    @include size(100vw, auto);
    aspect-ratio: 16/9;
    touch-action: none;
    overflow: hidden;
    background-color: transparent;
    top: 1%;
  }

  .ui {
    @include flex-rules(row, center, center);
    @include size(auto, 61vw);
    @include max-size(1920px, 1080vh);
    aspect-ratio: 16/9;
    position: relative;
    background-color: transparent;

    #pause-modal {
      .modal {
        @include flex-rules(column, center, center);
      }
    }
  }

  #opening-screen {
    @include max-size(1920px, 1080px);
    @include size(100vw, fit-content);
    position: absolute;
    image-rendering: high-quality;
    background-color: transparent;
    opacity: 1;
  }


  #ending-screen {
    @include max-size(1920px, 1080px);
    @include size(100vw, fit-content);
    position: absolute;
    image-rendering: high-quality;
    background-color: transparent;
    opacity: 1;
    display: none;
    z-index: 10;
  }
}

