@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@keyframes arrowMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
@keyframes arrowMoveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes onLoad {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4rem;
  position: fixed;
  transition: background-color 0.5s;
  background: black;
  z-index: 10;
}
.navbar .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  width: 100vw;
}
.navbar .navbar-container .navbar-container-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex: 2;
}
.navbar .navbar-container .navbar-container-left > img {
  height: auto;
  width: 8rem;
}
.navbar .navbar-container .navbar-container-left > button {
  background-color: transparent;
  outline: none;
  border: none;
  height: 3rem;
  color: white;
  width: fit-content;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  margin-left: 2rem;
  font-family: "Kanit", sans-serif;
}
.navbar .navbar-container .navbar-container-left > button > a {
  color: white;
  text-decoration: none;
  text-underline: none;
  transition: color 0.5s;
}
.navbar .navbar-container .navbar-container-left > button .underline {
  width: 0;
  height: 0.125rem;
  background-color: rgb(253, 27, 94);
  transition: width 0.5s;
}
.navbar .navbar-container .navbar-container-left > button:hover .underline {
  width: 100%;
}
.navbar .navbar-container .navbar-container-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex: 1;
}
.navbar .navbar-container .navbar-container-right > button {
  font-weight: 600;
  font-size: 20px;
  padding: 0.75rem 0.75rem 0.6rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 0.1rem solid white;
}
.navbar .navbar-container .navbar-container-right > button > a {
  color: white;
  text-decoration: none;
  text-underline: none;
  transition: color 0.5s, background-color 0.5s;
}
.navbar .navbar-container .navbar-container-right > button:hover {
  background-color: white;
}
.navbar .navbar-container .navbar-container-right > button:hover > a {
  color: rgb(253, 27, 94);
  background-color: white;
}

.navbar-scrolled {
  background-color: black;
}

#loading-modal {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  color: white;
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
  user-select: none;
}
#loading-modal > h3 {
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 24px;
}
#loading-modal > p {
  margin-bottom: 1rem;
  background-color: transparent;
}

#menu-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#menu-modal > div {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  width: 91%;
}
#menu-modal > div:hover {
  background-color: rgb(253, 27, 94);
}

#selection-modal {
  align-items: center;
}
#selection-modal .title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
  font-size: 2vw;
  background-color: transparent;
  text-align: center;
}
#selection-modal .image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  background-color: transparent;
  width: 35vw;
  margin-top: 1vw;
  text-align: center;
}
#selection-modal .image-container .arrow-left {
  animation: arrowMoveLeft 0.5s steps(2) infinite;
  background-color: transparent;
  width: 20vw;
  cursor: pointer;
}
#selection-modal .image-container img {
  width: 30vw;
  height: fit-content;
  aspect-ratio: 92/140;
}
#selection-modal .image-container .arrow-right {
  animation: arrowMoveRight 0.5s steps(2) infinite;
  background-color: transparent;
  width: 20vw;
  cursor: pointer;
}
#selection-modal .button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  width: 91%;
  text-align: center;
}
#selection-modal .button:hover {
  background-color: rgb(253, 27, 94);
}

#settings-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#settings-modal .title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
}
#settings-modal .settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
#settings-modal .settings-container .settings-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  background-color: transparent;
  width: 91%;
  padding: 1.5vw 0;
}
#settings-modal .settings-container .settings-content:hover {
  background-color: rgb(253, 27, 94);
}
#settings-modal .settings-container .settings-content .settings-content-title {
  width: 20vw;
}
#settings-modal .settings-container .settings-content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  background-color: transparent;
}
#settings-modal .settings-container .settings-content > div > span {
  background-color: transparent;
}
#settings-modal .settings-container .settings-content > div .volume-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#settings-modal .settings-container .settings-content > div .volume-bar .volume-meter {
  width: 1.5vw;
  height: 2vw;
  margin: 0 0.1vw;
}
#settings-modal .settings-container .settings-content > div .volume-bar .on {
  background-color: rgba(255, 255, 255, 0.8);
}
#settings-modal .settings-container .settings-content > div .volume-bar .off {
  background-color: rgba(100, 100, 100, 0.5);
}
#settings-modal .settings-container .settings-content .arrow-left {
  animation: arrowMoveLeft 0.5s steps(2) infinite;
  opacity: 0;
  background-color: transparent;
  width: 3vw;
  cursor: pointer;
}
#settings-modal .settings-container .settings-content .arrow-right {
  animation: arrowMoveRight 0.5s steps(2) infinite;
  opacity: 0;
  background-color: transparent;
  width: 3vw;
  cursor: pointer;
}
#settings-modal .settings-container .settings-content:hover * .arrow-left {
  opacity: 100% !important;
}
#settings-modal .settings-container .settings-content:hover .arrow-right {
  opacity: 100% !important;
}
#settings-modal .exit-button {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  width: 91%;
  background-color: transparent;
  text-align: center;
}
#settings-modal .exit-button:hover {
  background-color: rgb(253, 27, 94);
}
#settings-modal .exit-button > div {
  background-color: transparent;
}

#pause-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
#pause-modal .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
#pause-modal .modal .title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
}
#pause-modal .modal .button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vw;
  padding: 1vw 0;
  width: 91%;
  text-align: center;
}
#pause-modal .modal .button:hover {
  background-color: rgb(253, 27, 94);
}

.modal {
  width: 45vw;
  height: auto;
  max-width: 960px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  aspect-ratio: 18/15;
  background-color: transparent;
  background-image: url("HyperWLightDrifter/assets/ui/menu_modal.png");
  opacity: 100%;
  position: absolute;
  display: none;
  z-index: 100;
}

.modal-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1920px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal-background .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.modal-background .modal .title {
  color: white;
  font-family: "omnes-pro", sans-serif;
  font-size: title;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
}
.modal-background .modal .button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "omnes-pro", sans-serif;
  font-size: button;
  width: 91%;
  text-align: center;
}
.modal-background .modal .button:hover {
  background-color: rgb(253, 27, 94);
}

.modal-container * {
  background-color: transparent;
  color: white;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.5s;
  opacity: 100%;
}
.modal-container .modal-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.modal-container .modal-inner-container .modal-content-image, .modal-container .modal-inner-container .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vw;
  width: 85vw;
  overflow: hidden;
}
.modal-container .modal-inner-container .modal-content-image .modal-left, .modal-container .modal-inner-container .modal-content .modal-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 30%;
  height: 100%;
  margin: 0.6vw;
  border-right: rgba(253, 46, 195, 0.7) solid 0.5rem;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > header, .modal-container .modal-inner-container .modal-content .modal-left > header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", serif;
  margin-top: 3vw;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(253, 46, 195, 0.7);
  font-size: 1.5vw;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > header .arrow-left, .modal-container .modal-inner-container .modal-content .modal-left > header .arrow-left {
  animation: arrowMoveLeft 0.5s steps(2) infinite;
  opacity: 100;
  background-color: transparent;
  width: 3vw;
  cursor: pointer;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > header .arrow-right, .modal-container .modal-inner-container .modal-content .modal-left > header .arrow-right {
  animation: arrowMoveRight 0.5s steps(2) infinite;
  text-align: end;
  opacity: 100;
  background-color: transparent;
  width: 3vw;
  cursor: pointer;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > div, .modal-container .modal-inner-container .modal-content .modal-left > div {
  font-family: "Press Start 2P", serif;
  font-size: 1.5vw;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > img, .modal-container .modal-inner-container .modal-content .modal-left > img {
  width: 20vw;
  transition: 0.5s;
}
.modal-container .modal-inner-container .modal-content-image .modal-left > img:hover, .modal-container .modal-inner-container .modal-content .modal-left > img:hover {
  transform: scale(1.1);
}
.modal-container .modal-inner-container .modal-content-image .modal-left .modal-close-button, .modal-container .modal-inner-container .modal-content .modal-left .modal-close-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", serif;
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5vw;
  color: white;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-container .modal-inner-container .modal-content-image .modal-left .modal-close-button:hover, .modal-container .modal-inner-container .modal-content .modal-left .modal-close-button:hover {
  background-color: rgba(253, 46, 195, 0.7);
}
.modal-container .modal-inner-container .modal-content-image .modal-right, .modal-container .modal-inner-container .modal-content .modal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin-right: 2vw;
}
.modal-container .modal-inner-container .modal-content-image .modal-right > ul, .modal-container .modal-inner-container .modal-content .modal-right > ul {
  font-family: "Press Start 2P", serif;
  font-size: 1.5vw;
  height: 100%;
  list-style-type: disc;
  overflow: hidden;
}
.modal-container .modal-inner-container .modal-content-image .modal-right > ul > li, .modal-container .modal-inner-container .modal-content .modal-right > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  list-style-type: circle;
  overflow: hidden;
}
.modal-container .modal-inner-container .modal-content-image .modal-right > ul > li > p, .modal-container .modal-inner-container .modal-content .modal-right > ul > li > p {
  overflow: hidden;
  margin-top: 2.5vw;
  margin-right: 0.75rem;
  line-height: 2vw;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page, .modal-container .modal-inner-container .modal-content .modal-right-second-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-family: "Press Start 2P", serif;
  margin-right: 2vw;
  font-size: 1.5vw;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page .modal-right-first, .modal-container .modal-inner-container .modal-content .modal-right-second-page .modal-right-first {
  width: 50%;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page .modal-right-second, .modal-container .modal-inner-container .modal-content .modal-right-second-page .modal-right-second {
  width: 50%;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page ul, .modal-container .modal-inner-container .modal-content .modal-right-second-page ul {
  padding-left: 1.5vw;
  padding-top: 1.5vw;
  margin: 0;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page ul li, .modal-container .modal-inner-container .modal-content .modal-right-second-page ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page ul li p, .modal-container .modal-inner-container .modal-content .modal-right-second-page ul li p {
  margin: 1.5vw 0;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page ul li .key, .modal-container .modal-inner-container .modal-content .modal-right-second-page ul li .key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 2px solid rgb(253, 27, 94);
  text-align: center;
  transition: all 0.25s;
  padding: 0.65rem 0.5rem 0.5rem 0.65rem;
}
.modal-container .modal-inner-container .modal-content-image .modal-right-second-page ul li > div, .modal-container .modal-inner-container .modal-content .modal-right-second-page ul li > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  width: 70%;
}
.modal-container .modal-inner-container .modal-content-image > img, .modal-container .modal-inner-container .modal-content > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  z-index: 100;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.transparent {
  opacity: 0;
  color: transparent;
  cursor: none !important;
}

body {
  height: calc(100vh + 4rem);
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  background-color: black;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh + 4rem);
  overflow: hidden;
  position: relative;
}
.container #game {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
  touch-action: none;
  overflow: hidden;
  background-color: black;
}
.container #HUD {
  position: absolute;
  width: 100vw;
  height: auto;
  aspect-ratio: 16/9;
  touch-action: none;
  overflow: hidden;
  background-color: transparent;
  top: 1%;
}
.container .ui {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 61vw;
  max-width: 1920px;
  max-height: 1080vh;
  aspect-ratio: 16/9;
  position: relative;
  background-color: transparent;
}
.container .ui #pause-modal .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container #opening-screen {
  max-width: 1920px;
  max-height: 1080px;
  width: 100vw;
  height: fit-content;
  position: absolute;
  image-rendering: high-quality;
  background-color: transparent;
  opacity: 1;
}
.container #ending-screen {
  max-width: 1920px;
  max-height: 1080px;
  width: 100vw;
  height: fit-content;
  position: absolute;
  image-rendering: high-quality;
  background-color: transparent;
  opacity: 1;
  display: none;
  z-index: 10;
}

/*# sourceMappingURL=game.css.map */
