@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "animations";
@import "front/about";
@import "front/navbar.css";
@import "front/score";
@import "front/footer.css";
@import "front/trailer";
@import "front/mainCharacter";
@import "front/world";
@import "front/news.css";
@import "front/ost.css";
@import "mixins";
@import "animations";


$pink-color: rgb(253, 27, 94);


section {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(10%);
}

.visible {
  opacity: 100%;
  transform: translateY(0%);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'omnes-pro', sans-serif;
  overflow: hidden;
}

*, html:focus-within {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0.5rem;
}


html {
  //scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

.cursor {
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  pointer-events: none;
  animation: cursorAnimation 1s ease-in-out infinite;
}

@keyframes cursorAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.background-color {
  position: absolute;
  width: 50vw;
  height: 50vw;
  z-index: -100;
  transform: scale(1.5);
  overflow: hidden;

  &.one {
    top: 50rem;
    left: -40%;
  }

  &.two {
    top: 70rem;
    left: 50%;
  }

  &.three {
    top: 130rem;
    left: -30%;
    transform: rotate(90deg);
  }

  &.four {
    top: 150rem;
    left: 40%;
    transform: rotate(210deg);
  }

  &.five {
    top: 220rem;
    left: 0;
    transform: rotate(20deg);
  }

  &.six {
    top: 330rem;
    left: -40%;
    transform: rotate(90deg);
  }

  &.seven {
    top: 340rem;
    left: 50%;
    transform: rotate(210deg);
  }

  &.eight {
    top: 450rem;
    left: 60%;
    transform: rotate(139deg);
  }

  &.nine {
    top: 430rem;
    left: -5%;
    transform: rotate(227deg);
  }
}

.video-top {
  height: 10rem;
}

.video-container {
  position: relative;


  > video {
    height: 50rem;
    width: 100vw;
    object-fit: cover;
  }


  .video-cover {
    @include absolute(0, 50%);
    height: 100rem;
    width: 100vw;
    box-shadow: 0 0 1rem 1rem inset black;
  }

  .video-text {
    @include flex-rules(column, center, center);
    @include absolute(45%, 51.7%);

    > img {
      @include size(40rem, 20rem);
      z-index: 1;
    }

    .try-demo-button {
      font-family: 'Kanit', sans-serif;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      font-weight: bold;
      background-color: transparent;
      color: white;
      outline: none;
      border: 0.15rem solid white;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
      cursor: pointer;
      text-decoration: none;
      text-underline: none;

      &:hover {
        background-color: white;
        color: black;
        transition: 0.5s;
      }
    }
  }
}


.about-container {
  @include flex-rules(column, center, center);

}

