@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "animations";
@import "front/about";
@import "front/navbar";
@import "front/score";
@import "front/footer";
@import "front/trailer";
@import "front/mainCharacter";
@import "front/world";
@import "front/news";
@import "mixins";


$pink-color: rgb(253, 27, 94);


section {
  scroll-snap-align: center;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'omnes-pro', sans-serif;
  transform-style: preserve-3d;
  perspective: 1px;
  overflow: hidden;
}

*, html:focus-within {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0.5rem;
}


html, body {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
}


.video-top {
  height: 10rem;
}

.video-container {
  position: relative;


  > video {
    height: 50rem;
    width: 100vw;
    object-fit: cover;
  }


  .video-cover {
    @include absolute(0, 50%);
    height: 100rem;
    width: 100vw;
    box-shadow: 0 0 1rem 1rem inset;
  }

  .video-text {
    @include flex-rules(column, center, center);
    @include absolute(45%, 51.7%);

    > img {
      @include size(40rem, 20rem);
      z-index: 1;
    }

    .try-demo-button {
      font-family: 'Kanit', sans-serif;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      font-weight: bold;
      background-color: transparent;
      color: white;
      outline: none;
      border: 0.15rem solid white;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
      cursor: pointer;
      text-decoration: none;
      text-underline: none;

      &:hover {
        background-color: white;
        color: black;
        transition: 0.5s;
      }
    }
  }
}


.about-container {
  @include flex-rules(column, center, center);

}

.map-container {
  @include flex-rules(column, center, center);
  position: relative;
  height: 30rem;

  > h1 {
    font-family: 'Kanit', sans-serif;
    color: white;
    border-bottom: 0.2rem solid white;
  }

  .image-container {
    --value: 50%;

    img {
      @include absolute(200%, 50%);
    }

    .map-bottom {
      clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
    }

    .image-range {
      @include absolute(140%, 50%);
      background-color: transparent;
      box-sizing: border-box;
      font-family: inherit;
      height: 70rem;
      margin: 0;
      outline: none;
      width: 101rem;

      &::-webkit-slider-thumb {
        appearance: none;
        background-color: transparent;
        height: 72rem;
        cursor: pointer;
        width: 1rem;
      }


      &,
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }
}
