@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@keyframes arrowMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
@keyframes arrowMoveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes buttonBorderBottom {
  0% {
    border-bottom: 0.2rem solid rgb(253, 27, 94);
    border-bottom-width: 0;
  }
  100% {
    border-bottom: 0.2rem solid rgb(253, 27, 94);
    border-bottom-width: 100%;
  }
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  position: fixed;
  transition: background-color 0.5s;
  background: transparent;
  z-index: 100;
}
.navbar .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
}
.navbar .navbar-container .navbar-container-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex: 2;
}
.navbar .navbar-container .navbar-container-left > img {
  width: 10rem;
}
.navbar .navbar-container .navbar-container-left > button {
  background-color: transparent;
  outline: none;
  border: none;
  height: 3rem;
  color: white;
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 4rem;
}
.navbar .navbar-container .navbar-container-left > button .underline {
  width: 0;
  height: 0.25rem;
  background-color: rgb(253, 27, 94);
  transition: width 0.5s;
}
.navbar .navbar-container .navbar-container-left > button:hover .underline {
  width: 100%;
}
.navbar .navbar-container .navbar-container-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex: 1;
}
.navbar .navbar-container .navbar-container-right > button {
  font-weight: bold;
  font-size: 20px;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 0.1rem solid white;
}
.navbar .navbar-container .navbar-container-right > button > a {
  color: white;
  text-decoration: none;
  text-underline: none;
  transition: color 0.5s;
}
.navbar .navbar-container .navbar-container-right > button:hover {
  background-color: white;
}
.navbar .navbar-container .navbar-container-right > button:hover > a {
  color: rgb(253, 27, 94);
}

.navbar-scrolled {
  background-color: black;
}

.video-top {
  height: 10rem;
}

.video-container {
  position: relative;
}
.video-container > video {
  height: 50rem;
  width: 100vw;
  object-fit: cover;
}
.video-container .video-cover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100rem;
  width: 100vw;
  box-shadow: 0 0 1rem 1rem inset;
}
.video-container .video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 51.7%;
  transform: translate(-50%, -50%);
}
.video-container .video-text > img {
  width: 40rem;
  height: 20rem;
  z-index: 1;
}
.video-container .video-text .try-demo-button {
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  outline: none;
  border: 0.15rem solid white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
  text-underline: none;
}
.video-container .video-text .try-demo-button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
}
.trailer > h3 {
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 3rem;
  border-bottom: 0.2rem solid rgb(253, 27, 94);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: 2rem;
}
.about-container .about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  width: 60rem;
}
.about-container .about-content .about-image-container img {
  width: 30rem;
  height: 40rem;
  margin: 0 2rem;
  object-fit: cover;
}
.about-container .about-content .about-text-container > h1 {
  width: 100%;
  font-family: "Kanit", sans-serif;
  color: white;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid white;
}
.about-container .about-content .about-text-container > p {
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-align: start;
  color: white;
}

.features-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.features-container .image-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 57vw;
  width: 100vw;
  box-shadow: 0 0 1rem 1rem inset;
}
.features-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.5) translateX(10%);
}
.features-container .features-text-container {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 25%;
  font-family: "Kanit", sans-serif;
  color: white;
}
.features-container .features-text-container > h1 {
  font-family: "Kanit", sans-serif;
  color: white;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid white;
}
.features-container .features-text-container > p {
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-align: start;
  color: white;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30rem;
}
.map-container > h1 {
  font-family: "Kanit", sans-serif;
  color: white;
  border-bottom: 0.2rem solid white;
}
.map-container .image-container {
  --value: 50%;
}
.map-container .image-container img {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map-container .image-container .map-bottom {
  clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
}
.map-container .image-container .image-range {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-sizing: border-box;
  font-family: inherit;
  height: 70rem;
  margin: 0;
  outline: none;
  width: 101rem;
}
.map-container .image-container .image-range::-webkit-slider-thumb {
  appearance: none;
  background-color: transparent;
  height: 72rem;
  cursor: pointer;
  width: 1rem;
}
.map-container .image-container .image-range, .map-container .image-container .image-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}

/*# sourceMappingURL=index.css.map */
