@import "../mixins";

.latest-news-container {
  @include flex-rules(column, center, center);
  margin: 0 2rem;
  overflow-y: hidden;

  .title-container {
    width: 90%;
    height: 10rem;
    overflow-y: hidden;

    > h3 {
      width: fit-content;
      font-size: 48px;
      font-weight: 600;
      font-family: Kanit, serif;
      border-bottom: 0.3rem solid $pink-color;
    }
  }

  .horizontal-news-container {
    @include flex-rules(row, center, center);
    gap: 1rem;
    width: 90%;

    .news-container {
      @include flex-rules(column, center, center);
      background-color: white;
      width: 100%;
      margin: 2rem 0;
      transition: 0.25s linear;
      cursor: pointer;
      overflow-y: hidden;

      &:hover {
        -webkit-transform: translateY(-50px);
        transform: translateY(-30px);
        box-shadow: 0 0 1rem 1rem inset;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .news-content {
        @include flex-rules(column, start, center);
        background-color: white;
        width: 100%;
        height: 14rem;
        margin: 1rem;
        overflow-y: hidden;

        .header {
          @include flex-rules(row, center, center);
          width: 100%;
          justify-content: space-between;
          overflow-y: hidden;

          > p {
            color: black;
            font-weight: bold;
            font-family: Kanit, serif;
            margin: 0 1rem;

            &:nth-child(2) {
              color: $pink-color;
            }
          }
        }

        .content {
          margin: 0 1rem;
          color: black;
          overflow-y: hidden;

          > h3 {
            margin: 2rem 0 0 0;
          }

          > p {
            font-weight: normal;
            line-height: 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
