@import "../mixins";


.world-container * {
  overflow: hidden;
}

.world-container {
  @include flex-rules(column, center, center);
  height: 100vh;

  .inner-container-carousel {
    @include flex-rules(column, center, center);
    width: 90%;

    > h3 {
      @include headerTitleCenter;
    }


    .content {
      display: none;

      .image-carousel {
        @include flex-rules(column, center, center);
        flex: 2;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .image-box {
          @include flex-rules(column, center, center);
          position: relative;
          background-color: white;
          width: 90%;
          height: 30vw;
          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;

            &:hover {
              transform-origin: 50% 50%; /* Set the zoom origin to the center of the image */
              transform: scale(1.2);
            }
          }

          .arrow {
            @include flex-rules(column, center, center);
            position: absolute;
            //transform: translateY(-50%);
            color: white;
            padding: 5rem 0.25rem;
            background-color: rgb(0, 0, 0, 0.5);
            cursor: pointer;
            user-select: none;
          }

          .arrow-left {
            left: 0;
          }

          .arrow-right {
            right: 0;
          }
        }

        .image-list {
          @include flex-rules(row, start, center);
          gap: 1rem;
          width: 90%;
          height: 10rem;
          overflow-x: scroll;
          overflow-y: hidden;
          margin-top: 1rem;

          .image-list-box {
            @include flex-rules(column, center, center);
            background-color: white;
            cursor: pointer;
            border: 0.2rem solid black;

            > img {
              width: 10vw;
              height: 100%;
              object-fit: cover;
            }
          }

          .image-list-box.bordered {
            border: 0.2rem solid $pink-color;
          }
        }
      }

      .image-description {
        @include flex-rules(column, start, flex-start);
        flex: 1;
        font-family: 'Kanit', sans-serif;


        > h3 {
          @include headerTitle;
          margin-top: 0;
          height: fit-content;
        }

        > h5 {
          @include flex-rules(row, center, center);
          gap: 0.5rem;
          font-weight: 600;
          font-size: 24px;
          margin: 0;
        }

        > p {
          @include contentText;
          letter-spacing: 0.1rem;
          font-family: 'Kanit', sans-serif;
          height: auto;
        }
      }
    }


    .content.active {
      //@include flex-rules(column, start, flex-start);
      @include flex-rules(row, start, flex-start);
    }
  }
}


.map-container {
  @include flex-rules(column, center, center);
  position: relative;
  //height: 80rem;

  > h1 {
    font-family: 'Kanit', sans-serif;
    color: white;
    border-bottom: 0.2rem solid white;
  }

  .image-container {
    position: relative;
    --value: 50%;
    height: 80vw;
    width: 100vw;
    overflow: hidden;

    img {
      @include absolute(50%, 50%);
      transform: translate(-50%, -50%);
      width: 95vw;
      aspect-ratio: 1.4;
      z-index: 0;
    }

    .map-bottom {
      clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
    }

    .image-range {
      @include absolute(50%, 50%);
      transform: translate(-50%, -50%);
      background-color: transparent;
      box-sizing: border-box;
      font-family: inherit;
      height: 100%;
      width: 95vw;
      margin: 0;
      outline: none;
      overflow: hidden;
      z-index: 0;

      &::-webkit-slider-thumb {
        appearance: none;
        background-color: transparent;
        height: 72rem;
        cursor: pointer;
        width: 1rem;
      }


      &,
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    .boss-marker {
      aspect-ratio: 0.812;
      width: 25rem;
      overflow: hidden;
      pointer-events: none;

      .boss-image {
        @include flex-rules(column, flex-start, center);
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 15rem;
        aspect-ratio: 1.3;
        transition: all 0.5s;
        user-select: none;
        overflow: hidden;

        > h3 {
          @include flex-rules(row, center, center);
          font-family: Kanit, sans-serif;
          font-weight: 500;
          font-size: 1rem;
          margin: 0;
          color: white;
          text-shadow: 0 0 0.5rem black;
        }

        > img {
          @include flex-rules(row, center, center);
          width: 90%;
          height: 70%;
          object-fit: cover;
          border: 0.2rem solid $pink-color;
        }

        &.hidden {
          opacity: 0;
        }

        &.first {
          @include absolute(25%, 50%);

          > img {
            margin-top: 0;
          }
        }

        &.second {
          @include absolute(75%, 50%);
          @include flex-rules(row, center, flex-end);

          > img {
            margin-bottom: 3rem;
          }
        }

        &.third {
          @include absolute(75%, 50%);
        }

        &.fourth {
          @include absolute(75%, 50%);
        }

        &.fifth {
          @include absolute(40%, 50%);

          > img {
            object-position: center 0rem;
          }
        }
      }

      > img {
        aspect-ratio: 0.812;
        width: 2rem;
        pointer-events: auto;
      }

      &.first {
        @include absolute(80%, 50%);
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      &.second {
        @include absolute(15%, 50%);
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      &.third {
        @include absolute(50%, 80%);
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      &.fourth {
        @include absolute(50%, 20%);
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
}