@import "../mixins";


.trailer {
  @include flex-rules(column, center, center);
  height: 60rem;
  //scroll-snap-type: y mandatory;
  scroll-snap-align: start;

  > h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 48px;
    border-bottom: 0.3rem solid $pink-color;
  }

  iframe {
    width: 70vw;
    height: 39.375vw;
  }

}